<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Confirmar Reserva - CineTickets</title>
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reservation.css">
</head>

<body>
    <div class="fullscreen-container">
        <!-- Navbar (Opcional) -->
        <div class="navbar">
            <h1>CineTickets</h1>
        </div>
        <div class="content">
            <h2 class="text-center">Confirmar Reserva</h2>
            <div class="confirmation-details">
                <p><strong>Película:</strong>
                    <%= pelicula %>
                    <input type="hidden" id="pelicula" value="<%= pelicula %>">
                </p>
                <p><strong>Fecha:</strong>
                    <%= fecha %>
                </p>
                <p><strong>Hora:</strong>
                    <%= hora %>
                    <input type="hidden" id="hora" value="<%= hora %>">
                </p>
                <p><strong>Asientos:</strong>
                    <%= asientos.join(', ') %></p>
                <p><strong>Total a Pagar:</strong> S/. <%= total_price %></p>
            </div>
            <form action="/complete-reservation" method="POST" id="formConfirm">
                <div class="mb-4">
                    <label for="payment" class="form-label">Método de Pago</label>
                    <select class="form-select" id="payment" name="payment" required>
                        <option value="" disabled selected>Selecciona un método de pago</option>
                        <option value="Tarjeta de Crédito/Debito">Tarjeta de Crédito/Debito</option>
                        <option value="Transferencia">Transferencia</option>
                        <option value="PayPal">PayPal</option>
                    </select>
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-confirm" id="btnConfirmar">Confirmar y Pagar</button>
                </div>
            </form>
        </div>
        <div class="container mt-4">
            <% if (estado === 'Reserved') { %>
                <div class="alert alert-success" role="alert">
                    <%- mensaje %>
                </div>
                <script>
                    const button = document.getElementById('btnConfirmar');
                    button.disabled = true;
                    button.classList.remove('btn-confirm');
                    button.classList.add('btn-secondary');
                </script>
            <% } %>
        </div>
    </div>
    <script src="./bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        document.getElementById('formConfirm').addEventListener('submit', function(event) {
            event.preventDefault();

            const movie_title = document.getElementById("pelicula").value;
            const hora = document.getElementById("hora").value;

            // Emitir el evento a Socket.IO
            socket.emit('getSeatCount', { movieTitle: movie_title, hour: hora });

            this.submit(); // Limpia el formulario
        });

    </script>
</body>

</html>